.map {
    background-repeat: no-repeat;
    background-position: right top;
    width: 1000px;
}

.bream {
    position: absolute;
    top: 398px;
    left: 627px;
    width: 143px;
    height: auto;
}

.seal {
    position: absolute;
    top: 89px;
    left: 465px;
    width: 207px;
    height: auto;
}

.aurochs {
    position: absolute;
    top: 120px;
    left: 654px;
    width: 237px;
    height: auto;
}

.deer {
    position: absolute;
    top: 376px;
    right: 354px;
    width: 123px;
    height: auto;
}

.bear {
    position: absolute;
    bottom: 179px;
    left: 792px;
    width: 183px;
    height: auto;
}

.fox {
    position: absolute;
    bottom: 170px;
    right: 620px;
    width: 186px;
    height: auto;
}


.eagle {
    position: absolute;
    top: 289px;
    right: 743px;
    width: 254px;
    height: auto;
}


@media (max-width: 1250px) {

    .map {
        background-repeat: no-repeat;
        background-position: right top;
        width: 807px;
    }

    .bream {
        position: absolute;
        top: 328px;
        left: 527px;
        width: 143px;
        height: auto;
    }

    .seal {
        position: absolute;
        top: 89px;
        left: 465px;
        width: 177px;
        height: auto;
    }

    .aurochs {
        position: absolute;
        top: 120px;
        left: 654px;
        width: 177px;
        height: auto;
    }

    .deer {
        position: absolute;
        top: 306px;
        right: 354px;
        width: 113px;
        height: auto;
    }

    .bear {
        position: absolute;
        bottom: 179px;
        left: 692px;
        width: 153px;
        height: auto;
    }

    .fox {
        position: absolute;
        bottom: 170px;
        right: 620px;
        width: 156px;
        height: auto;
    }


    .eagle {
        position: absolute;
        top: 179px;
        right: 743px;
        width: 194px;
        height: auto;
    }


}

@media (max-width: 980px) {

    .map {
        background-repeat: no-repeat;
        background-position: right top;
        width: 500px;
    }

    .map {
        background-repeat: no-repeat;
        background-position: right top;
        width: 807px;
    }

    .bream {
        position: absolute;
        top: 328px;
        left: 527px;
        width: 143px;
        height: auto;
    }

    .seal {
        position: absolute;
        top: 89px;
        left: 465px;
        width: 177px;
        height: auto;
    }

    .aurochs {
        position: absolute;
        top: 120px;
        left: 654px;
        width: 177px;
        height: auto;
    }

    .deer {
        position: absolute;
        top: 306px;
        right: 354px;
        width: 113px;
        height: auto;
    }

    .bear {
        position: absolute;
        bottom: 179px;
        left: 692px;
        width: 153px;
        height: auto;
    }

    .fox {
        position: absolute;
        bottom: 170px;
        right: 620px;
        width: 156px;
        height: auto;
    }


    .eagle {
        position: absolute;
        top: 179px;
        right: 743px;
        width: 194px;
        height: auto;
    }


}