.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-bounce infinite 2s linear;
    height: 40vmin;
    padding: 20px 0;
    align-items: center;
}

.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(-11px + 16vmin);
    color: #960018;
    font-family: cursive;
}

.btn-outline-danger {
    color: #960018;
    border-color: #960018;

}

.btn-lg {

    font-size: 2.25rem;

    border-radius: 1.3rem;
}
@keyframes App-logo-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}